---
import AboutHeroImage from "../assets/blog-placeholder-about.jpg";
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("2025-09-13")}
  heroImage={AboutHeroImage}
>
  <p>
    <li>男，85后</li>
    <li>精力不错</li>
    <li>目前幸福</li>
    <li>略有焦虑</li>
    <li>关注科技，跑步，骑行，划桨板，自驾游</li>
    <li>不喜交际，一块石头</li>
  </p>

  <p>邮箱：596120@qq.com</p>

  <img src="/assets/headshot.jpg" alt="me" style="width:120px; height:auto;" />
</Layout>
